[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
v = {editable = true,version = "*"}

[packages]
sanic = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
